@import '../../bower_components/inside/src/inside.scss';

.site__container {
  @extend %container;
  width: 98%;
  max-width: 40em;
  padding: $gutter_horizontal 0;
  @media (min-width: $breakpoint-sm) {
    width: 95%;
  }
  @media (min-width: $breakpoint-md) {
    width: 90%;
  }
  @media (min-width: $breakpoint-lg) {
    width: 80%;
  }
}

.site__header, .site__content {
  @extend %grid-col;
  width: 100%;
}

.btn {
  @extend %button;
  @extend %button-highlight;
}